body {
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: roboto, sans-serif;
    overflow: auto;

}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 8px;
    background-color: #1F2937;
    color: white;
}

h1 {
    font-size: 24px; 
    color: #F9FAF8;
}
.hero {
    background-color: #1F2937;
    color: white;
    display: flex;
    justify-content: center;
    gap: 64px;
    flex: auto;
    align-items: center;
}
.huge {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 800;
}

.huge, .smaller {
    width: 500px;
    margin-bottom: 36px;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: white;
    flex: auto;
}



ul {
    display: flex;
    gap: 16px;
    list-style-type: none;
}

a, .smaller {
    text-decoration: none;
    color: #E5E7EB;
}

button.main {
    background-color: #3882F6;
    padding: 12px 36px;
    color: white;
    font-weight: bold;
    border-radius: 10px;
    font-size: 18px;
    border: transparent;
    cursor:pointer;
    transition: 0.2s;

}

img {
    border-radius: 10px;

}
.item img {
    width: 150px;
    height: 150px;
}

button:hover {
    transform: scale(1.05);

}

.top {
    align-self: center;
}
.content h1 {
    color: black;
    font-size: 36px;
}
.bot {
    display: flex;
    justify-content: center;
    gap: 36px;
}
.item {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    max-width: 150px;
}

