html { overflow-y: scroll; overflow-x:hidden; }


body {
    min-height: 2000px;
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: roboto, sans-serif;
    overflow: hidden;

}

ul {
    padding: 0;
}

.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 8px;
    background-color: #1F2937;
    color: white;
}
li {
    transition: 0.1s ease;
}
li:hover {
    text-shadow: 0px 5px 15px rgb(208, 171, 230);
}

h1 {
    font-size: 24px; 
    color: #F9FAF8;
    user-select: none;
}
.hero {
    background-color: #1F2937;
    color: white;
    display: flex;
    flex-wrap: wrap;


    justify-content: center;
    gap: 64px;
    flex: 1;
    align-items: center;
}

.left {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    padding-left: 16px;
    padding-right: 16px;
}

.right  {
    height: 400px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	max-width: 100%;
	max-height: 100%;
}

#main-img {
    width: min(600px, 90%);
    height: min(600px, 90%);
  }
  


.huge {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 800;
}

.huge, .smaller {
    word-wrap: break-word;
    margin-bottom: 36px;
}

.content {
    display: flex;
    flex-wrap: wrap;

    flex-direction: column;
    justify-content: space-evenly;
    background-color: white;
    flex: 1;
}

.quote {

    padding-left: 16px;
    padding-right: 16px;

background-color: #E5E7EB;
font-size: 36px;
color: #1F2937;
font-style: italic;
flex: 1;
display: flex;
flex-direction: column;
flex-wrap: wrap;
align-items: center;
justify-content: center;
gap: 36px;

}

.inside-quote {
    max-width: 50%;
}



.name {
font-weight: bold;
align-self: center;
}



ul {
    display: flex;
    gap: 16px;
    list-style-type: none;
}

a, .smaller {
    text-decoration: none;

    color: #E5E7EB;
}

li:first-child {
    margin-left: 8px;
}


.smaller {
    max-width: 350px;
}

button.main{
    background-color: #d984eb;
    padding: 12px 36px;
    color: white;
    font-weight: bold;
    border-radius: 10px;
    font-size: 18px;
    border: transparent;
    cursor:pointer;
    transition: 0.1s;

}


img {
    border-radius: 10px;
    transition: 0.2s;
}
.item img {
    width: 150px;
    height: 150px;
}

img:hover {
    box-shadow: 0px 5px 15px red;
}

button:hover {
    transform: scale(1.01);

}

.top {
    align-self: center;
}
.content h1 {
    color: black;
    font-size: 36px;
}
.bot {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 36px;
}
.item {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    max-width: 150px;
}

.item h3 {
    font-weight: 400;
}

.footer {
    margin: auto;
    flex-direction: column;
    justify-content: center;
}

.modal {
    margin-top: 16px;
    margin-bottom: 16px;

    align-self: center;
    gap: 24px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 32px;
    background-color: #cf7ee0;
    border-radius: 10px;

}

.popup {
    background-color: transparent;
    padding: 12px 36px;
    color: white;
    font-weight: bold;
    border-radius: 10px;
    font-size: 18px;
    cursor:pointer;
    border-color: white;
    border-style: solid;
    border-width: 1px;
    transition: 0.1s;


}

.message {
    font-size: 24px;
    color: white;
    font-weight: 600;
    margin-bottom: 5px;
}
.message > p {
    font-size: 16px;
    color: white;
    font-weight: 300;
}

.end {
    display: flex;
    background-color: #1F2937;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    height: 100px;
}