html { overflow-y: scroll; overflow-x:hidden; }


body {
    min-height: 2200px;
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: roboto, sans-serif;
    overflow: hidden;

}

ul {
    padding: 0;
}

.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 8px;
    background-color: #1F2937;
    color: white;
}

h1 {
    font-size: 24px; 
    color: #F9FAF8;
}
.hero {
    background-color: #1F2937;
    color: white;
    display: flex;
    flex-wrap: wrap;

    justify-content: center;
    gap: 64px;
    flex: 2;
    align-items: center;
}

.left {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
}

.huge {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 800;
}

.huge, .smaller {
    word-wrap: break-word;
    margin-bottom: 36px;
}

.content {
    display: flex;
    flex-wrap: wrap;

    flex-direction: column;
    justify-content: space-evenly;
    background-color: white;
    flex: 2;
}

.quote {
background-color: #E5E7EB;
font-size: 36px;
color: #1F2937;
font-style: italic;
flex: 1;
display: flex;
flex-direction: column;
flex-wrap: wrap;
align-items: center;
justify-content: center;
gap: 36px;

}



.name {
font-weight: bold;
align-self: center;
}



ul {
    display: flex;
    gap: 16px;
    list-style-type: none;
}

a, .smaller {
    text-decoration: none;

    color: #E5E7EB;
}

button.main{
    background-color: #3882F6;
    padding: 12px 36px;
    color: white;
    font-weight: bold;
    border-radius: 10px;
    font-size: 18px;
    border: transparent;
    cursor:pointer;
    transition: 0.2s;

}


img {
    border-radius: 10px;

}
.item img {
    width: 150px;
    height: 150px;
}

button:hover {
    transform: scale(1.05);

}

.top {
    align-self: center;
}
.content h1 {
    color: black;
    font-size: 36px;
}
.bot {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 36px;
}
.item {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    max-width: 150px;
}

.item h3 {
    font-weight: 400;
}

.footer {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.modal {
    align-self: center;
    gap: 24px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 32px;
    background-color: #3882F6;
    border-radius: 10px;

}

.popup {
    background-color: transparent;
    padding: 12px 36px;
    color: white;
    font-weight: bold;
    border-radius: 10px;
    font-size: 18px;
    cursor:pointer;
    border-color: white;
    border-style: solid;
    border-width: 1px;
    transition: 0.2s;


}

.message {
    font-size: 24px;
    color: white;
    font-weight: 600;
    margin-bottom: 5px;
}

.end {
    display: flex;
    background-color: #1F2937;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    height: 100px;
}