body {
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: roboto, sans-serif;

}

.header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 8px;
    background-color: #1F2937;
    color: white;
}

h1 {
    font-size: 24px; 
    color: #F9FAF8;
}
.hero {
    background-color: #1F2937;
    color: white;
    display: flex;
    justify-content: center;
    gap: 48px;
    flex: 1;
    align-items: center;
}
.huge {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 800;
}
.left {
    width: 450px;
    margin-bottom: 16px;
}
.huge, .smaller {
    width: 450px;
    margin-bottom: 16px;
}

.content {
    background-color: white;
    flex: 1;
}



ul {
    display: flex;
    gap: 16px;
    list-style-type: none;
}

a, .smaller {
    text-decoration: none;
    color: #E5E7EB;
}

button {
    background-color: #3882F6;
    padding: 12px 36px;
    color: white;
    font-weight: bold;
    border-radius: 10px;
    font-size: 18px;
    border: transparent;
}
